*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0; 
}
a:hover{
    color: rgb(10, 9, 10);
    border-bottom: 3px solid rgb(35, 16, 206);
    list-style:  none !important;
    text-decoration: none;
    
}
ul li{
    
    text-decoration: none;
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.blok{
    position: sticky;
    width: 1512px;
    height: 96px;
    box-sizing: border-box;
    margin: 0 auto;
}    
.logo{ 
    float: left;
    border: 2px solid rgb(231, 15, 15);
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    margin-top: 16px;
    margin-left: 12px;
}
.button{
    float: right;
}
.buy{
    margin: 27px 10px 0px;
    top:24px;
    right: 12px;
    text-align: center;
    color: blue;
    height: 45px;
    width: 128px;
    font-size: 20px;
    border: 2px solid blue;
}
.buy:hover{
    text-decoration: underline;
}
.menu ul li{
    float: right;
    display: inline;
    border: 2px solid rgb(255, 252, 252);
    margin: 0 15px;
    margin: 35.5px 20px;
    text-decoration: none !important;
}
li{
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    background-color: #fff;
}
.links{
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}
.wrapper{
    border: 1px solid red;
    width: 1512px;;
    margin: 0 auto;
 } 
.wiret-block{
    border: 1px solid blue;
    width: 1100px;
    height: 700px;
    margin: 0 auto;
}
.landing{
    float:left;
    border: 1px solid blue;
    margin-top: 256px;
    width: 611px;

}
.landing h1{
    font-weight: 700;
    font-size: 47px;
} 
.landing p{
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 20px;
}
.Authors{
    border: 2px solid blue;
    width: 94px;
    height: 39px;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    margin-right: 16px;
}
.Authors:hover{
   text-decoration: underline 2px blueviolet;
   background-color: black;
}
.Check{
    border: 2px solid  #575757;  
    width: 135px;
    height: 39px;
    font-size: 16px;
    color: #575757;
    background-color: #fff;
}
.Check:hover{
    text-decoration: underline 2px blueviolet;
}
.iphone{
    float: right;
    border: 1px solid blue;
    margin-top: 100px;
    position: relative;
    left: 50px;
}
.Author{
    border: 1px solid blue;
    width: 1190px;
    position: absolute;
    left: 312px;
    top: 796px;
}
.promo{
    border: 1px solid blue;
    width: 611px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.Author-block{
    width: 1190px;
   
}
.info{
    float: left;
    border: 1px solid blue;
    width: 645px;
    height: 175px; 
    position: relative;
    left: 202px;
    bottom: 10px;

}
.graphic{
    float: right;
    border: 1px solid blue;
   position: relative;
   bottom: 22px;
}
.rectangle{
    position: absolute;
    left: 5px;
}
.info h3{
    font-weight: 600;
    font-size: 27px;
}
.info h4{
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 11px;
}
.info p{
    font-weight: 400;
    color: #575757;
    font-size: 16px;
}
.graphic h4{
    font-weight: 500;
    font-size: 21px;
    color:  #DEA405;
}
.graphic h5{
    font-weight: 400;
    font-size: 16px;
    color:  #DEA405;
    margin-bottom: 2px;
}
.graphic h3{
    font-weight: 600;
    font-size: 27px;
    color: black;
    position: relative;
    right: 18px;
    top: 13px;
}
.graphic h3::before{
    content: url(img/Vector\(13\).png);
    position: relative;
    right: 5px;
    top: 10px;
}
.graphic h2{
    font-weight: 500;
    font-size: 21px;
    color: #575757;
    margin-bottom: 2px;
}
.icon{
    border: 1px solid blue;
    width: 120px;
    position: relative;
    left: 202px;
}
.vector{
    padding: 0 20px;
}
.students{
    border: 1px solid blue;
    width:  1509px;
    margin: auto;
}