*{
  box-sizing: border-box;
}
body,html{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400; 
  height: 1024px;
}
.wrapper{
  width: 75%;
  margin: 0 auto;
}
header{
  padding: 0px;
  background-color: #fff;
}
.flex{
  padding-top: 3%;
  display: flex;
  align-items: center
}
.logo{
  width: 58%;
  font-size: 18px;
  font-weight: 700;
  color: #BC436A;
}
.menu{
  width: 33%;
  display: flex;
  justify-content: space-around;
}
.menu a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #776677;
}
.home a{
  font-size: 16px;
  font-weight: 800;
  color: #BC436A;
}
header button{
  width: 9%;
  padding: 8px;
  margin-left: 25px;
  background-color: #386E41;
  text-align: center;
  color: white;
  border: 2px solid #386E41;
  border-radius: 4px;
  font-size: 16px;
}
.green{
  width: 100%;
}
.green:hover{
  text-decoration: underline black 2px;
}
.vacation{
  width: 43%;
  margin: 0px;
}
section h3{
  font-size: 36px;
  font-weight: 800;
  color: #333333;
  padding: 0px;
  padding-top: 142px;
  margin-bottom: 23px;
}
.red{
  color: #BC436A;
}
section p{
  font-size: 18px;
  font-weight: 400;
  color: #7A7A7A;
  padding: 0px;
  margin: 0px;
}
.will{
  position: relative;
  top: 239px;
}
.will a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #767676;
}
.will::before{
  content: url(../css/img/Vector\(18\).png);
  position: relative;
  top: 2px;
  left: 224px;
}
.win{
  height: 100px;
  background-color: #386E41;
  color: white;
  padding: 0px 18px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
  top: 274px;
}
.country input{
  width: 253px;
  padding: 10px 0px;
  background-color: #386E41;
  border: 2px solid #386E41;
  border-bottom: 2px solid white;
}
.city input{
  width: 253px;
  padding: 10px 0px;
  background-color: #386E41;
  border: 2px solid #386E41;
  border-bottom: 2px solid white;
}
.place input{
  width: 253px;
  padding: 10px 0px;
  background-color: #386E41;
  border: 2px solid #386E41;
  border-bottom: 2px solid white;
}
.country::after{
  content: url(../css/img/Vector\(21\).png);
  position: relative;
  left: -30px;
}
.country-input::placeholder{
  font-size: 18px;
  font-weight: 400;
  color: #f2f3f4;
  background-color: #386E41;
}
.city::after{
  content: url(../css/img/Vector\(21\).png);
  position: relative;
  left: -30px;
}
.city-input::placeholder{
  color: #f2f3f4; 
  background-color: #386E41;
  font-size: 18px;
  font-weight: 400;
  border: 10px solid #386E41;
}
.place::after{
  content: url(../css/img/Vector\(21\).png);
  position: relative;
  left: -30px;
}
.place-input::placeholder{
  color: #f2f3f4;
  background-color: #386E41;
  font-size: 18px;
  font-weight: 400;
  border: 10px solid #386E41;
}
section button{
  width: 9%;
  padding: 8px 21px;
  margin-right: 0px;
  background-color: #BC436A;
  text-align: center;
  color: white;
  border: 2px solid #BC436A;
  border-radius: 4px;
  font-size: 18px;
}
section button:hover{
  box-shadow: 0px 0px 15px;
  text-decoration: underline black 2px;
}
.search{
  width: 100%;
}
.shap{
 position:absolute;
 left: 0px;
 top: 70%;
}
body{
  background-image: url(../css/img/man.png);
  background-repeat: no-repeat;
  background-position: right;
 
}
.destinations{
  margin-top: 326px;
  text-align: center;
}
.destinations a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #767676;
}
.destinations::before{
  content: url(../css/img/chevrons-down.png);
  position: relative;
  top: 50px;
  left: 87px;
} 

