*{
    box-sizing: border-box;
}

body{ 
    background-color:#E5E5E5;
}
.important{
    height:1324px ;
    width:1379px ;
    margin: auto;
    position: relative;
}
.square-action{
    border: 2px solid rgb(0, 0, 0);
    height: 512px;
    width: 512px;
    background-color: black;
    position: relative;
    
}
.Vector{    
  /* padding: 90px; */margin-top: 121px ;
  margin-left: 101px;
}
.Flag{
   margin-left:  220px;
  margin-top: 32px;

}
.square-flag{
    border: 2px solid rgba(255, 206, 34, 1);
    height: 512px;
    width: 512px;
    position: absolute;
    left: 429px;
    bottom: 412px;
   background-color: rgba(255, 206, 34, 1);
   z-index: 1;
}

 .glyph{
   position: relative;
   bottom: 134px;
   left: 55px; 
} 
 .glyph-second{
  position: relative;
  bottom: 35px;
  left: 55px;
} 

.round-flag{
    height: 512px;
    width: 512px;
    background-color: white;
    border-width: 2px 0;
    border-style: solid;
    border-color: #2137fc;
    position: absolute;
    right: 10px;
    bottom: 10px;


}
.raund-border{
    background-color: #ffce22;
    border-radius: 100%;
    overflow: hidden;
    width: 85%;
    height: 85%;
    position: relative;
    left: 41px;
    top: 39px;
}
.half-flag{
    position: relative;
    right: 2px;
    bottom: 2px;
}
.half-flag-bottom{
    position: relative;
    right: 32px;
    bottom: 30px;
}
.glyph-second{
  position:relative;
  bottom: 60px;
 
}